<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>In the Room!!</title>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script>
        const roomid = "<%= roomid %>"
    </script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script src="script.js" defer></script>
</head>

<body>

    <nav class="navbar-roomPage">
        <h1 class="logo">SyncM</h1>
        <a class="btn-exit" href="/" onclick="leaveRoom()">leave room</a>
    </nav>

    <div class="roomid-box">
        <span class="roomid-text">Room Id :</span>
        <span class="roomid">
            <%= roomid %>
        </span>
        <!-- Trigger -->
        <button class="btn" data-clipboard-text=<%=roomid%>>
            Copy to clipboard
        </button>
    </div>

    <div class="container data-box">
        <div class="row justify-content-around data-box-row">
            <div class="col-8 music-section">
                <div class="container-fluid music-grid-container">
                    <div class="row music-grid justify-content-center">
                        <div class="col-3 music-song">
                            <audio src="music/Born To Shine - Diljit Dosanjh.mp3" id="btn-1-audio" onended="musicEnded(id)"></audio>
                            <img src="img/born-to-shine.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Born To Shine - Diljit Dosanjh</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-1">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-1-">
                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-2-audio" onended="musicEnded(id)"></audio>
                            <img src="img/big-liar.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Bad Liar - Imagine Dragons</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-2">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-2-">
                        </div>
                        <div class="col-3 music-song">
                            <audio src="music/Safar - Bhuvan Bam.mp3" id="btn-3-audio" onended="musicEnded(id)"></audio>
                            <img src="img/safar.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Safar - Bhuvan Bam</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-3">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-3-">
                        </div>
                    </div>
                    <div class="row music-grid justify-content-center">
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-4-audio" onended="musicEnded(id)"></audio>
                            <img src="img/ranveer.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Utth Jaa Rey - Jasleen Royal</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-4">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-4-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-5-audio" onended="musicEnded(id)"></audio>
                            <img src="img/jassManak.jpeg" alt="song-image" class="song-img">
                            <span class="song-name">No Competition - Jass Manak | Divine</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-5">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-5-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-6-audio" onended="musicEnded(id)"></audio>
                            <img src="img/maroon5.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Nobody's Love - Maroon 5</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-6">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-6-">

                        </div>
                    </div>

                    <div class="row music-grid justify-content-center">
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-4-audio" onended="musicEnded(id)"></audio>
                            <img src="img/ranveer.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Utth Jaa Rey - Jasleen Royal</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-4">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-4-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-5-audio" onended="musicEnded(id)"></audio>
                            <img src="img/jassManak.jpeg" alt="song-image" class="song-img">
                            <span class="song-name">No Competition - Jass Manak | Divine</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-5">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-5-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-6-audio" onended="musicEnded(id)"></audio>
                            <img src="img/maroon5.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Nobody's Love - Maroon 5</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-6">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-6-">

                        </div>
                    </div>

                    <div class="row music-grid justify-content-center">
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-4-audio" onended="musicEnded(id)"></audio>
                            <img src="img/ranveer.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Utth Jaa Rey - Jasleen Royal</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-4">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-4-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-5-audio" onended="musicEnded(id)"></audio>
                            <img src="img/jassManak.jpeg" alt="song-image" class="song-img">
                            <span class="song-name">No Competition - Jass Manak | Divine</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-5">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-5-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-6-audio" onended="musicEnded(id)"></audio>
                            <img src="img/maroon5.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Nobody's Love - Maroon 5</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-6">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-6-">

                        </div>
                    </div>

                    <div class="row music-grid justify-content-center">
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-4-audio" onended="musicEnded(id)"></audio>
                            <img src="img/ranveer.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Utth Jaa Rey - Jasleen Royal</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-4">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-4-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-5-audio" onended="musicEnded(id)"></audio>
                            <img src="img/jassManak.jpeg" alt="song-image" class="song-img">
                            <span class="song-name">No Competition - Jass Manak | Divine</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-5">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-5-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-6-audio" onended="musicEnded(id)"></audio>
                            <img src="img/maroon5.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Nobody's Love - Maroon 5</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-6">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-6-">

                        </div>
                    </div>

                    <div class="row music-grid justify-content-center">
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-4-audio" onended="musicEnded(id)"></audio>
                            <img src="img/ranveer.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Utth Jaa Rey - Jasleen Royal</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-4">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-4-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-5-audio" onended="musicEnded(id)"></audio>
                            <img src="img/jassManak.jpeg" alt="song-image" class="song-img">
                            <span class="song-name">No Competition - Jass Manak | Divine</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-5">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-5-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-6-audio" onended="musicEnded(id)"></audio>
                            <img src="img/maroon5.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Nobody's Love - Maroon 5</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-6">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-6-">

                        </div>
                    </div>

                    <div class="row music-grid justify-content-center">
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-4-audio" onended="musicEnded(id)"></audio>
                            <img src="img/ranveer.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Utth Jaa Rey - Jasleen Royal</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-4">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-4-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-5-audio" onended="musicEnded(id)"></audio>
                            <img src="img/jassManak.jpeg" alt="song-image" class="song-img">
                            <span class="song-name">No Competition - Jass Manak | Divine</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-5">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-5-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-6-audio" onended="musicEnded(id)"></audio>
                            <img src="img/maroon5.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Nobody's Love - Maroon 5</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-6">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-6-">

                        </div>
                    </div>

                    <div class="row music-grid justify-content-center">
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-4-audio" onended="musicEnded(id)"></audio>
                            <img src="img/ranveer.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Utth Jaa Rey - Jasleen Royal</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-4">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-4-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-5-audio" onended="musicEnded(id)"></audio>
                            <img src="img/jassManak.jpeg" alt="song-image" class="song-img">
                            <span class="song-name">No Competition - Jass Manak | Divine</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-5">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-5-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-6-audio" onended="musicEnded(id)"></audio>
                            <img src="img/maroon5.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Nobody's Love - Maroon 5</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-6">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-6-">

                        </div>
                    </div>

                    <div class="row music-grid justify-content-center">
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-4-audio" onended="musicEnded(id)"></audio>
                            <img src="img/ranveer.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Utth Jaa Rey - Jasleen Royal</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-4">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-4-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-5-audio" onended="musicEnded(id)"></audio>
                            <img src="img/jassManak.jpeg" alt="song-image" class="song-img">
                            <span class="song-name">No Competition - Jass Manak | Divine</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-5">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-5-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-6-audio" onended="musicEnded(id)"></audio>
                            <img src="img/maroon5.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Nobody's Love - Maroon 5</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-6">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-6-">

                        </div>
                    </div>

                    <div class="row music-grid justify-content-center">
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-4-audio" onended="musicEnded(id)"></audio>
                            <img src="img/ranveer.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Utth Jaa Rey - Jasleen Royal</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-4">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-4-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-5-audio" onended="musicEnded(id)"></audio>
                            <img src="img/jassManak.jpeg" alt="song-image" class="song-img">
                            <span class="song-name">No Competition - Jass Manak | Divine</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-5">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-5-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-6-audio" onended="musicEnded(id)"></audio>
                            <img src="img/maroon5.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Nobody's Love - Maroon 5</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-6">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-6-">

                        </div>
                    </div>

                    <div class="row music-grid justify-content-center">
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-4-audio" onended="musicEnded(id)"></audio>
                            <img src="img/ranveer.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Utth Jaa Rey - Jasleen Royal</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-4">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-4-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-5-audio" onended="musicEnded(id)"></audio>
                            <img src="img/jassManak.jpeg" alt="song-image" class="song-img">
                            <span class="song-name">No Competition - Jass Manak | Divine</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-5">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-5-">

                        </div>
                        <div class="col-3 music-song">
                            <audio src="ringtone.mp3" id="btn-6-audio" onended="musicEnded(id)"></audio>
                            <img src="img/maroon5.jpg" alt="song-image" class="song-img">
                            <span class="song-name">Nobody's Love - Maroon 5</span>
                            <div class="play-btn-layover"></div>
                            <img src="icons/play.png" alt="play-btn-icon" class="play-btn-icon" onclick="handleplaysound(id)" id="btn-6">
                            <img src="icons/pause.png" alt="play-btn-icon" class="play-btn-icon d-none" onclick="handlepausesound(id)" id="btn-6-">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 chatbot">
                <div class="row headings">
                    <div class="col-6 heading-chat current-tab">chat</div>
                    <div class="col-6 heading-people">people</div>
                </div>

                <div class="people d-none">
                    <div class="people-list">
                        <ol id="users"></ol>
                    </div>
                </div>
                <div class="msg-section d-flex flex-column-reverse" id="chat-messages">

                </div>
                <div class="write-msg">
                    <form id="chat-form" class="send-msg-form">
                        <input type="text" class="input-text" placeholder="Type your Message" id="msg" required autocomplete="off">
                        <button class="btn send-btn">
                            <ion-icon name="send-sharp" class="send-icon"></ion-icon>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- IONICONS LIBRARY -->
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</body>

</html>