* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: futura-medium;
    src: url(fonts/futura/futura\ medium\ bt.ttf)
}

@font-face {
    font-family: futura-bold;
    src: url(fonts/futura/Futura\ Heavy\ font.ttf)
}

body {
    font-family: futura-medium;
}

.navbar-roomPage {
    height: 6rem;
    padding: 1rem 3rem;
    background-color: #fff;
    /* box shadow */
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-roomPage .logo {
    color: #1a1a1a;
    font-size: 3.4rem;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
    display: inline-block;
}

.about {
    text-align: center;
    margin: 3.5rem 0;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: futura-bold;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.055);
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
}

.room {}

.room-row {
    text-align: center
}

.create-room {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 4rem;
    /* height: 100%; */
    margin-right: 4rem;
}

.create-room-heading {
    text-transform: capitalize;
    color: #242424;
    font-size: 3.5rem;
    margin-top: 30%;
}

.create-btn {
    padding: 1.2rem 1.6rem;
    text-transform: uppercase;
    border: 4px solid #4CD137;
    border-radius: 100px;
    background-color: #4CD137;
    font-family: futura-bold;
    font-size: 1.4rem;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    margin-top: 8%;
    outline: none;
}

.create-btn:hover {
    color: #4CD137;
    background-color: transparent;
    outline: none;
}

.join-room {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 4rem;
    /* height: 100%; */
}

.join-room-heading {
    text-transform: capitalize;
    color: #242424;
    font-size: 3.5rem;
    margin-top: 22%;
}

.input-roomid {
    width: 80%;
    border: none;
    border-bottom: 2px solid #707070;
    /* box-shadow: 0px -5px 10px 10px rgba(0, 0, 0, 0.16); */
    background-color: transparent;
    outline: none;
    margin-top: 8%;
    color: #9d9d9d;
}

.input-roomid::placeholder {
    text-transform: uppercase;
    color: #9d9d9d7e;
}

.join-btn {
    margin-top: 10%;
    text-transform: uppercase;
    font-family: futura-bold;
    color: #4CD137;
    border-radius: 100px;
    border: 4px solid #4CD137;
    background-color: transparent;
    padding: 1.2rem 3.5rem;
    font-size: 1.4rem;
    outline: none;
}

.join-btn:hover {
    background-color: #4cd137;
    color: #fff;
    outline: none;
}